@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        height: 100vh;
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    section#login {
        width: 80vw;
        height: 50vh;
    }
    div#imagem {
        width: 35%;
        height: 100%;
    }
    div#formulario {
       float: right;
       background-color: #ffffff;
       width: 66%;
       height: 100%;
       transform: translateY(-279.5px);
       border-radius: 0px 20px 20px 0px;
    }
    #botao1 {
       height: 40px;
    }
    #botao2 {
        height: 40px;
    }
    .backgrounds {
        height: 40px;
    }
    .inputPersonalizado  {
        transform: translateY(-9px);
    }
}


@media screen and (min-width: 993px) {
    body {
        height: 100vh;
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    section#login {
        width: 85vw;
        height: 60vh;
        background-color: black;
    }
    div#imagem {
        width: 50%;
        height: 100%;
        float: right;
        border-radius: 0px 20px 20px 0px;
        background-position: bottom right;
    }
    div#formulario {
       float: left;
       background-color: #ffffff;
       width: 50%;
       height: 100%;
       border-radius: 20px 0px 0px 20px;
    }
    h1 {
        font-size: 2em;
        margin-top: 25px;
    }
    #botao1 {
        height: 45px;
     }
     #botao2 {
         height: 45px;
     }
     .backgrounds {
         height: 45px;
     }
     .inputPersonalizado  {
         transform: translateY(-7px);
         height: 94%;
     }
}