@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap');



:root {
    --cor-fundo: rgb(227, 219, 193);
    --cor2: rgb(62, 47, 44);
    --cor3: rgb(37, 25, 25);
    --cor4: rgb(81,80,75);
    --cor5: rgb(131,70,60);
    --cor6: rgb(228,204,158);
    --cor7: rgb(136,112,63);
    --fontePrincipal: 'Noto Serif Toto', serif;
}
* {
    margin: 0px;
    padding: 0px;
}
.texto {
    background-color: white;
    width: 700px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.453); 
}
header {
    background-color: var(--cor3);
    padding: 15px;
    padding-top: 0px;
    position: relative;
}
body {
    background-color: var(--cor6);
    font-family: var(--fontePrincipal);
    overflow-x: hidden;
}
header img {
    display: block;
    margin: auto;
    width: 470px;
    transform: translateY(-10px);
}
header img:hover {
        transform: translateY(-10px) scale(1.02);
        cursor: pointer;
} 
html {
    scroll-behavior: smooth;
}
p {
    font-size: 1.1em;
    line-height: 1.13em;
    text-align: justify;
    text-indent: 20px;
}
h1 {
    text-align: center;
    margin: 8px;
    
}
h2 {
    text-align: center;
    margin: 8px;
}
#b1 {
    /* width: 98.3vw; */
    width: 100%;
    height: 610px;
    background-image: url(imgs/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
    margin: auto;
}
main {
    background-color: var(--cor6);
}
#texto1 {
    margin-top: 20px;
}
#texto2 {
   background-color: rgba(0, 0, 0, 0.326);
   color: var(--cor7);
   font-size: 1.2em;
   padding: 30px;
}
#p1 {
    background-color: var(--cor-fundo);
    padding-bottom: 20px;
    height: 480px;
    border-top: 40px solid var(--cor6);
    border-bottom: 40px solid var(--cor6);
    position: relative;
    padding-top: 0px; 
}
#p2 {
    background-color: var(--cor-fundo);
    padding-top: 20px;
    padding-bottom: 0px;
    height: 780px;
    
}
.material-symbols-outlined {
    color: white;
    display: inline-block;
    position: relative;
    bottom: -110px;
    transform: translateX(30px);
    padding: 5px;
}
#invisible .material-symbols-outlined {
    color: black;
    position: initial;
    bottom: initial;
    padding: 0px;
    transform: none;
    font-size: 2em;
    float: right;
}
#invisible .material-symbols-outlined:hover {
    font-weight: bolder;
}

.material-symbols-outlined:hover {
    background-color: rgba(255, 255, 255, 0.126);
    border-radius: 50%;
    cursor: pointer;    
}

@keyframes voo {
    0% {
        /* right: 20px; */
        right: -200px;
        top: 40px;
    }
    50% {
        right: 60px;
        top: 20px;
    }
    100% {
        right: 60px;
        top: 30px;
    }
}
#beatrice {
    position: absolute;
    right: 60px;
    top: 30px;
    width: 150px;
    animation-name: voo;
    animation-duration: 3s;
}
img#bell {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
}
#div-img {
    background-color: rgb(0, 0, 0);
}
#b2 {
    background-color: rgb(193, 186, 165);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 780px;
    background-image: url(imgs/night-otgw.png);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
}

#div-img2 {
    background-color: black;
    width: 502px;
    margin: auto;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#img1 {
    width: 300px;
}
#p3 {
    height: 580px;
    background-color:var(--cor-fundo);
    padding-top: 20px;  
}
#texto4 {
    background-color: rgba(255, 255, 255, 0.728);
}
#texto5 {
    margin-top: 20px;

  
}

#box-imgs {
    background-color: none;
    text-align: center;
    max-width: 300px;
    min-width: 220px;
    margin: auto;
    margin-top: 10px;
}
#img3 {
    width: 35%;
    height: 100px;
    margin: 5px;
}
#img4 {
    margin: 5px;
    
    width: 35%;
    height: 100px;
}
section#p3 div.div-link {
    text-align: center;
    display: block;
    width: 200px;
    margin-bottom: 40px;
    
}
#link-p2 {
    display: block;
    width: 100px;
    margin: 0 auto;
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;

}
#link-p2:hover {
    font-size: 1.05em;
}
.img-flutuante {
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.678);
}
.img-flutuante:hover {
    box-shadow: 0px 0px 5px black
}
section#invisible {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    display: none;
    background-color: white;
    width: 50%;
    min-width: 250px;
    height: 190px;
    padding: 20px;
    transform: translate(20px, -50px);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.425);
}

#invisible p {
    margin: 25px;
    border-bottom: 1px solid rgba(147, 146, 146, 0.358);
    font-size: 1.5em;
}
#invisible p:hover {
    font-weight: bold;
    font-size: 1.6em;
}
a {
    color: var(--cor7);
    text-decoration: none;
}
footer a {
    text-decoration: none;
    color: var(--cor7);
}
footer a:hover {
    font-weight: bolder;
    color: white;
}
footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
}
footer p {
    text-align: center;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-top: 5px;
}
nav.menu {
    background-color: var(--cor2);
    /* width: 540px; */
    max-width: 540px;
    /* min-width: 280px;  */
    min-width: none;
    padding: 5px;
    /* position: absolute; */
    bottom: 0px;
    /* right: 28%; */
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    transform: translateY(15px);
}
nav li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--cor6);
    text-transform: uppercase;
}
nav.menu a {
    color: var(--cor6);
}
nav.menu a:hover {
    font-weight: bold;
    color:  rgb(253, 231, 190);
}

body#important section.flex-section.section-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}




 .hidden-menu {
    position: absolute;
    z-index: 5;
    display: flex;
    background-color: var(--cor2);  
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.541);
    width: 18vw;
    min-width: 190px;
    /* height: 94vh;  */
    max-height: 550px;
    min-height: 530px;
    /* height: 540px; */
    flex-flow: column wrap;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 10px 0px;
    transition: all 1s ease-in-out;
    display: none;
}
.hidden-menu a {
    color: var(--cor7);
    padding: 10px;
    margin: 15px;
    margin-left: 0px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid rgba(178, 177, 177, 0.489);
    width: 140px;
} 
.hidden-menu a:hover {
    padding-left: 30px;
    transition: padding 500ms ease-in-out;
    font-weight: bolder;
}
.hidden-menu img {
    /* width: 300px; */
    width: 120%;
    /* height: 160px; */
    transform: rotate(90deg);
    position: absolute;
    /* left: -70px; */
    left: -30%;
    bottom: 80px;
}
span.material-symbols-outlined.close-hidden-menu {
    color: white;
    display: block;
    transform: none;
    position: initial;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-size: 40px;
    z-index: 5;
}
span.material-symbols-outlined.close-hidden-menu:hover {
    background-color: inherit;
    color: crimson;
}


