@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root {
    --fontetitulo: 'Nerko One', 'cursive';
    --fontetexto: 'Sriracha', 'cursive';
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
div {
    margin-top: 35px;
    margin-bottom: 35px;
}
header {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
header a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: underline;
}
header > h1 {
    font-size: 7vw;
    font-family: var(--fontetitulo);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    margin: auto;
    margin-top: 40px;
}
header > h1:hover {
    font-weight: bolder;
}
main {
    font-family: var(--fontetexto);
    color: black;
    font-size: 3vw;
    max-width: 1400px;
    min-width: 300px;
}
main p {
    margin-left: 50px;
}
#div2 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}
#div2 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.116);
    display: inline-block;
    padding: 5px;
    margin-left: 45px;
}
#div5 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}
#div5 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.374);
    display: inline-block;
    padding: 5px;
    margin-left: 45px;
}
footer {
    background-color: black;
    color: white;
    font-size: 2vw;
    text-align: center;
    margin: 0px;
    margin-top: 30px;
}
footer a {
    text-decoration: none;
    color: #D89600;
    font-weight: bolder;
    margin: 0px;
}
footer > p {
    margin-bottom: 0px;
    padding: 5px;
    font-family: var(--fontetexto);
}
